[submodule "libandcv/src/main/cpp/opencv"]
	path = libandcv/src/main/cpp/opencv
	url = https://gitee.com/mirrors/opencv
[submodule "libandcv/src/main/cpp/opencv_contrib"]
	path = libandcv/src/main/cpp/opencv_contrib
	url = https://gitee.com/mirrors/opencv
[submodule "libandcv/src/main/cpp/ncnn"]
	path = libandcv/src/main/cpp/ncnn
	url = https://github.com/Tencent/ncnn
[submodule "libandcv/src/main/cpp/Paddle-Lite"]
	path = libandcv/src/main/cpp/Paddle-Lite
	url = https://github.com/PaddlePaddle/Paddle-Lite
[submodule "libandcv/src/main/cpp/mediapipe"]
	path = libandcv/src/main/cpp/mediapipe
	url = https://github.com/google/mediapipe
